# Descriptive Statistical analysis

In [1]:
import pandas as pd
import numpy as np

In [4]:
data  =[[1.4, np.nan], [7.1, -4.5], [np.nan, np.nan], [0.75, -1.3]]
i = ['a', 'b', 'c', 'd']
c = ['one', 'two']
df = pd.DataFrame(data, i, c)
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [12]:
df.describe() # very useful
df.max()
df.min()
df.std()
df.sum() # all these operators work down the columns
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [15]:
df.max(axis=1) # works across rows (default is axis=0)
df.min(axis=1)
df.std(axis=1)
df.sum(axis=1)

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

In [16]:
# we can decide if NaN should be considered statistically significant
df.mean(axis=1, skipna=False) # skipna defaults to True

a      NaN
b    1.300
c      NaN
d   -0.275
dtype: float64

In [18]:
# find which index member contains statistically significant members
df.idxmax() # return the column where the index member is max (or min)

one    b
two    d
dtype: object

In [30]:
df['cs'] = np.arange(4)
# df['cs']=  df.cumsum() # cumulative sum
df

    one  two  cs
a  1.40  NaN   0
b  7.10 -4.5   1
c   NaN  NaN   2
d  0.75 -1.3   3