# Functions and Mapping

In [ ]:
import numpy as np
import pandas as pd

In [32]:
values = np.random.randn(4,3)
cols = list('bde')
frame = pd.DataFrame(values, columns=cols)
frame
# we can force all values ot be positive with 'abs'
frame = np.abs(frame)
frame

          b         d         e
0  0.651796  0.156679  0.607470
1  0.107305  0.121260  0.168799
2  1.500812  0.212000  0.533412
3  0.994979  0.143402  0.579549

## we can apply a function to every member of our data frame

In [36]:
fn = lambda x:x.max()-x.min() # the difference between max and min
frame.apply(fn, axis='columns') # same as axis=1

0    0.495117
1    0.061494
2    1.288813
3    0.851577
dtype: float64

In [41]:
def fnB(x): # this argument x will be used in the fn
    facets = [x.min(), x.max()]
    idx = ['min','max']
    return pd.Series(facets, index=idx)
res = frame.apply(fnB)
res

            b        d         e
min  0.107305  0.12126  0.168799
max  1.500812  0.21200  0.607470