# Introduction to Pandas

In [1]:
# we need to import the tools
import numpy as np
import pandas as pd

In [5]:
# Pandas Series
o = pd.Series([4, 7, -5 ,3]) # all the same data type
o # see the indexed series of values
o.values
o.index

RangeIndex(start=0, stop=4, step=1)

In [15]:
o2= pd.Series([4, 7, -5 ,3], index=['d', 'b', 'a', 'c'])
o2['a'] = -7
o2['e'] = 99
o2[['c', 'a']] # careful - the slice must be a list
o2[ o2>6 ]
o2**3
o2 # the original series renmains unchanged

d     4
b     7
a    -7
c     3
e    99
dtype: int64

In [25]:
# using Series
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
o3 = pd.Series(sdata)
o3
# or
states = ['Ohio', 'Texas', 'California', 'Utah', 'Oregon']
o4 = pd.Series(sdata, index=states)
o4
pd.isnull(o4)
o3+o4 # any maths involving NaN results in NaN

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah           10000.0
dtype: float64

## The Pandas Data Frame

In [ ]:
# the Data Frame is a collection of Pandas Series
# series are based on numpy arange
# Data Frame is a bit like a spreadsheet
# each column is a Pandas Series

In [26]:
# here is some data
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data)
frame # each column can be of a single data type

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

In [28]:
frame.describe() # get some statistics from our data

              year       pop
count     6.000000  6.000000
mean   2001.500000  2.550000
std       1.048809  0.836062
min    2000.000000  1.500000
25%    2001.000000  1.875000
50%    2001.500000  2.650000
75%    2002.000000  3.125000
max    2003.000000  3.600000