# Time and Date Series

In [3]:
import datetime
datetime.MAXYEAR
from datetime import datetime
from datetime import time
from datetime import timedelta

In [22]:
now = datetime.now() # datetime.datetime.now()
now # this holds the date-time of the moment it was executed
then = datetime(2010, 8, 20)
then
delta = now-then
delta
delta.days # we can easily calculate time and date difference

4424

In [25]:
twelve_days = timedelta(12)
now + twelve_days
now.strftime('%Y/%m/%d %A %B') # make the data into imformation

'2022/09/30 Friday September'

## Time Zones

In [35]:
import pytz
import numpy as np
import pandas as pd

In [33]:
tz = pytz.timezone('America/New_York')
tz
datetime.now(tz)

datetime.datetime(2022, 9, 30, 5, 47, 35, 971093, tzinfo=<DstTzInfo 'America/New_York' EDT-1 day, 20:00:00 DST>)

## Read External Data and Handle Dates and Times

In [56]:
# when we read data in we can choose how to handle date and time values
# df_IBM = pd.read_csv('pydata/ibm.csv', parse_dates=True) # we can explicitly import dates and times
# df_IBM.describe()

df = pd.read_csv('pydata/ibm.csv')
df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%Y')
df.dtypes

df.head()

,Date,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume
0,2010-01-04,131.18,132.9700,130.85,132.45,6155300,0.0,1,107.034744,108.495272,106.765484,108.070985,6155300
1,2010-01-05,131.68,131.8500,130.10,130.85,6841400,0.0,1,107.442712,107.581422,106.153531,106.765484,6841400
2,2010-01-06,130.68,131.4900,129.81,130.00,5605300,0.0,1,106.626774,107.287684,105.916909,106.071937,5605300
3,2010-01-07,129.87,130.2500,128.91,129.55,5840600,0.0,1,105.965865,106.275921,105.182564,105.704765,5840600
4,2010-01-08,129.07,130.9199,129.05,130.85,4197200,0.0,1,105.313114,106.822518,105.296796,106.765484,4197200